{% extends 'movie_app/base.html' %}

{% block title %} Movie {{ movie.name }} {% endblock %}

{% block content %}

<h1> Movie: {{ movie.name }} </h1>

<p> Rating: {{ movie.rating|default:"Unknown" }}</p>
<p> Year of issue: {{ movie.year|default:"Unknown" }}</p>

{% if movie.director %}
<h2>Director: <a href="{{ movie.director.get_absolute_url }}">{{ movie.director }}</a></h2>
{% else %}
<h2>Director: Unknown</h2>
{% endif %}

<h3>Starring:</h3>

<ul>
    {% if movie.actors.all %}
    {% for actor in movie.actors.all %}
    <li><a href="{{ actor.get_absolute_url }}">{{ actor.get_full_name }}</a></li>
    {% endfor%}
    {% else %}
    <h2>Unknown</h2>
    {% endif %}
</ul>

<br>

<h3>
    <a href="{% url 'home' %}">Главная страница</a>
</h3>


{% endblock %}